WL.PrecisionSample/WL.PrecisionSample/Members.PrecisionSample.Prescreener/Web References/com.imperium.ra1/item.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AnalyzeAnswer1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurveyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuestionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RespondentID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeAnswer1Result" type="tns:AnalyzeAnswerResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnalyzeAnswerResponse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BadWordsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarbageWordsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NonEngagedFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PastedTextFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RobotFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimilarityFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BadPhraseFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AuthHeader" type="tns:AuthHeader" />
      <s:complexType name="AuthHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="AnalyzeAnswer2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurveyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuestionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RespondentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EngagedLength" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeAnswer2Result" type="tns:AnalyzeAnswerResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer3">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurveyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuestionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RespondentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EngagedLength" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuppressSimilarity" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer3Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeAnswer3Result" type="tns:AnalyzeAnswerResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer4">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurveyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuestionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RespondentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EngagedLength" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuppressSimilarity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor6" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer4Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeAnswer4Result" type="tns:AnalyzeAnswerResponse4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnalyzeAnswerResponse4">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BadWordsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarbageWordsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NonEngagedFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PastedTextFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RobotFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimilarityFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BadPhraseFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor1Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor2Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor3Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor4Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor5Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor6Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF3" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AnalyzeAnswer5">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurveyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuestionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RespondentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EngagedLength" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuppressSimilarity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UDF1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UDF2" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer5Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeAnswer5Result" type="tns:AnalyzeAnswerResponse4" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer6">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ClientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SurveyID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="QuestionID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AnswerText" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LanguageCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ra_4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="RespondentID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EngagedLength" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SuppressSimilarity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor5" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CheckCustomFactor6" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="BillingCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UDF1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UDF2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TextClassQuestID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AutocorrectText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnalyzeAnswer6Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AnalyzeAnswer6Result" type="tns:AnalyzeAnswerResponse6" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="AnalyzeAnswerResponse6">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="RelatedConfidenceScore" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RepeatedWordsPct" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DetectedLanguageCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RAS" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BadWordsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="GarbageWordsFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NonEngagedFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PastedTextFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="RobotFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SimilarityFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BadPhraseFlag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor1Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor2Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor3Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor4Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor5Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CustomFactor6Flag" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ErrorMsg" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF1" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF2" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UDF3" type="s:string" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AnalyzeAnswer1SoapIn">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer1" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer1SoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer1Response" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer1AuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer2SoapIn">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer2" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer2SoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer2Response" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer2AuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer3SoapIn">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer3" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer3SoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer3Response" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer3AuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer4SoapIn">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer4" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer4SoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer4Response" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer4AuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer5SoapIn">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer5" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer5SoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer5Response" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer5AuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer6SoapIn">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer6" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer6SoapOut">
    <wsdl:part name="parameters" element="tns:AnalyzeAnswer6Response" />
  </wsdl:message>
  <wsdl:message name="AnalyzeAnswer6AuthHeader">
    <wsdl:part name="AuthHeader" element="tns:AuthHeader" />
  </wsdl:message>
  <wsdl:portType name="raServiceSoap">
    <wsdl:operation name="AnalyzeAnswer1">
      <wsdl:input message="tns:AnalyzeAnswer1SoapIn" />
      <wsdl:output message="tns:AnalyzeAnswer1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer2">
      <wsdl:input message="tns:AnalyzeAnswer2SoapIn" />
      <wsdl:output message="tns:AnalyzeAnswer2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer3">
      <wsdl:input message="tns:AnalyzeAnswer3SoapIn" />
      <wsdl:output message="tns:AnalyzeAnswer3SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer4">
      <wsdl:input message="tns:AnalyzeAnswer4SoapIn" />
      <wsdl:output message="tns:AnalyzeAnswer4SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer5">
      <wsdl:input message="tns:AnalyzeAnswer5SoapIn" />
      <wsdl:output message="tns:AnalyzeAnswer5SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer6">
      <wsdl:input message="tns:AnalyzeAnswer6SoapIn" />
      <wsdl:output message="tns:AnalyzeAnswer6SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="raServiceSoap" type="tns:raServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnalyzeAnswer1">
      <soap:operation soapAction="http://tempuri.org/AnalyzeAnswer1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AnalyzeAnswer1AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer2">
      <soap:operation soapAction="http://tempuri.org/AnalyzeAnswer2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AnalyzeAnswer2AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer3">
      <soap:operation soapAction="http://tempuri.org/AnalyzeAnswer3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AnalyzeAnswer3AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer4">
      <soap:operation soapAction="http://tempuri.org/AnalyzeAnswer4" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AnalyzeAnswer4AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer5">
      <soap:operation soapAction="http://tempuri.org/AnalyzeAnswer5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AnalyzeAnswer5AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer6">
      <soap:operation soapAction="http://tempuri.org/AnalyzeAnswer6" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:AnalyzeAnswer6AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="raServiceSoap12" type="tns:raServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AnalyzeAnswer1">
      <soap12:operation soapAction="http://tempuri.org/AnalyzeAnswer1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AnalyzeAnswer1AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer2">
      <soap12:operation soapAction="http://tempuri.org/AnalyzeAnswer2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AnalyzeAnswer2AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer3">
      <soap12:operation soapAction="http://tempuri.org/AnalyzeAnswer3" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AnalyzeAnswer3AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer4">
      <soap12:operation soapAction="http://tempuri.org/AnalyzeAnswer4" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AnalyzeAnswer4AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer5">
      <soap12:operation soapAction="http://tempuri.org/AnalyzeAnswer5" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AnalyzeAnswer5AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnalyzeAnswer6">
      <soap12:operation soapAction="http://tempuri.org/AnalyzeAnswer6" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:AnalyzeAnswer6AuthHeader" part="AuthHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="raService">
    <wsdl:port name="raServiceSoap" binding="tns:raServiceSoap">
      <soap:address location="http://ra.imperium.com/raservice.asmx" />
    </wsdl:port>
    <wsdl:port name="raServiceSoap12" binding="tns:raServiceSoap12">
      <soap12:address location="http://ra.imperium.com/raservice.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>