PrecisionSample.Services/WebApplication1/Service References/ServiceReference1/v2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Create">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="TxId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtMemberId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ethnicity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CreateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Update">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="RID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="ExtMemberId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TxId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Country" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="State" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FirstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="LastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Zip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Gender" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Dob" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Address2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Ethnicity" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="City" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnSubscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Rid" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UnSubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UnSubscribeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReSubscribe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReSubscribeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReSubscribeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerUserProfilesList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPartnerUserProfilesListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPartnerUserProfilesListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSurveys">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSurveysResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSurveysResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSurveysHistory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserGuid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSurveysHistoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSurveysHistoryResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xml" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateProfileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateProfileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateSoapIn">
    <wsdl:part name="parameters" element="tns:Create" />
  </wsdl:message>
  <wsdl:message name="CreateSoapOut">
    <wsdl:part name="parameters" element="tns:CreateResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapIn">
    <wsdl:part name="parameters" element="tns:Update" />
  </wsdl:message>
  <wsdl:message name="UpdateSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateResponse" />
  </wsdl:message>
  <wsdl:message name="UnSubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:UnSubscribe" />
  </wsdl:message>
  <wsdl:message name="UnSubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:UnSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ReSubscribeSoapIn">
    <wsdl:part name="parameters" element="tns:ReSubscribe" />
  </wsdl:message>
  <wsdl:message name="ReSubscribeSoapOut">
    <wsdl:part name="parameters" element="tns:ReSubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="GetPartnerUserProfilesListSoapIn">
    <wsdl:part name="parameters" element="tns:GetPartnerUserProfilesList" />
  </wsdl:message>
  <wsdl:message name="GetPartnerUserProfilesListSoapOut">
    <wsdl:part name="parameters" element="tns:GetPartnerUserProfilesListResponse" />
  </wsdl:message>
  <wsdl:message name="GetSurveysSoapIn">
    <wsdl:part name="parameters" element="tns:GetSurveys" />
  </wsdl:message>
  <wsdl:message name="GetSurveysSoapOut">
    <wsdl:part name="parameters" element="tns:GetSurveysResponse" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHistorySoapIn">
    <wsdl:part name="parameters" element="tns:GetSurveysHistory" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHistorySoapOut">
    <wsdl:part name="parameters" element="tns:GetSurveysHistoryResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateProfile" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateProfileResponse" />
  </wsdl:message>
  <wsdl:message name="CreateHttpGetIn">
    <wsdl:part name="RID" type="s:string" />
    <wsdl:part name="TxId" type="s:string" />
    <wsdl:part name="ExtMemberId" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="Dob" type="s:string" />
    <wsdl:part name="Address1" type="s:string" />
    <wsdl:part name="Address2" type="s:string" />
    <wsdl:part name="Ethnicity" type="s:string" />
    <wsdl:part name="City" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateHttpGetIn">
    <wsdl:part name="UserGuid" type="s:string" />
    <wsdl:part name="RID" type="s:string" />
    <wsdl:part name="ExtMemberId" type="s:string" />
    <wsdl:part name="TxId" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="Dob" type="s:string" />
    <wsdl:part name="Address1" type="s:string" />
    <wsdl:part name="Address2" type="s:string" />
    <wsdl:part name="Ethnicity" type="s:string" />
    <wsdl:part name="City" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UnSubscribeHttpGetIn">
    <wsdl:part name="Rid" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnSubscribeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReSubscribeHttpGetIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReSubscribeHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPartnerUserProfilesListHttpGetIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPartnerUserProfilesListHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHttpGetIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHistoryHttpGetIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHistoryHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileHttpGetIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpPostIn">
    <wsdl:part name="RID" type="s:string" />
    <wsdl:part name="TxId" type="s:string" />
    <wsdl:part name="ExtMemberId" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="Dob" type="s:string" />
    <wsdl:part name="Address1" type="s:string" />
    <wsdl:part name="Address2" type="s:string" />
    <wsdl:part name="Ethnicity" type="s:string" />
    <wsdl:part name="City" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CreateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateHttpPostIn">
    <wsdl:part name="UserGuid" type="s:string" />
    <wsdl:part name="RID" type="s:string" />
    <wsdl:part name="ExtMemberId" type="s:string" />
    <wsdl:part name="TxId" type="s:string" />
    <wsdl:part name="Country" type="s:string" />
    <wsdl:part name="State" type="s:string" />
    <wsdl:part name="FirstName" type="s:string" />
    <wsdl:part name="LastName" type="s:string" />
    <wsdl:part name="EmailAddress" type="s:string" />
    <wsdl:part name="Zip" type="s:string" />
    <wsdl:part name="Gender" type="s:string" />
    <wsdl:part name="Dob" type="s:string" />
    <wsdl:part name="Address1" type="s:string" />
    <wsdl:part name="Address2" type="s:string" />
    <wsdl:part name="Ethnicity" type="s:string" />
    <wsdl:part name="City" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UnSubscribeHttpPostIn">
    <wsdl:part name="Rid" type="s:string" />
    <wsdl:part name="UserName" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UnSubscribeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReSubscribeHttpPostIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReSubscribeHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetPartnerUserProfilesListHttpPostIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPartnerUserProfilesListHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHttpPostIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHistoryHttpPostIn">
    <wsdl:part name="UserGuid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetSurveysHistoryHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileHttpPostIn">
    <wsdl:part name="xml" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateProfileHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="v2Soap">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateSoapIn" />
      <wsdl:output message="tns:CreateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateSoapIn" />
      <wsdl:output message="tns:UpdateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input message="tns:UnSubscribeSoapIn" />
      <wsdl:output message="tns:UnSubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <wsdl:input message="tns:ReSubscribeSoapIn" />
      <wsdl:output message="tns:ReSubscribeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <wsdl:input message="tns:GetPartnerUserProfilesListSoapIn" />
      <wsdl:output message="tns:GetPartnerUserProfilesListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <wsdl:input message="tns:GetSurveysSoapIn" />
      <wsdl:output message="tns:GetSurveysSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <wsdl:input message="tns:GetSurveysHistorySoapIn" />
      <wsdl:output message="tns:GetSurveysHistorySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input message="tns:UpdateProfileSoapIn" />
      <wsdl:output message="tns:UpdateProfileSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="v2HttpGet">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateHttpGetIn" />
      <wsdl:output message="tns:CreateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateHttpGetIn" />
      <wsdl:output message="tns:UpdateHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input message="tns:UnSubscribeHttpGetIn" />
      <wsdl:output message="tns:UnSubscribeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <wsdl:input message="tns:ReSubscribeHttpGetIn" />
      <wsdl:output message="tns:ReSubscribeHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <wsdl:input message="tns:GetPartnerUserProfilesListHttpGetIn" />
      <wsdl:output message="tns:GetPartnerUserProfilesListHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <wsdl:input message="tns:GetSurveysHttpGetIn" />
      <wsdl:output message="tns:GetSurveysHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <wsdl:input message="tns:GetSurveysHistoryHttpGetIn" />
      <wsdl:output message="tns:GetSurveysHistoryHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input message="tns:UpdateProfileHttpGetIn" />
      <wsdl:output message="tns:UpdateProfileHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="v2HttpPost">
    <wsdl:operation name="Create">
      <wsdl:input message="tns:CreateHttpPostIn" />
      <wsdl:output message="tns:CreateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateHttpPostIn" />
      <wsdl:output message="tns:UpdateHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <wsdl:input message="tns:UnSubscribeHttpPostIn" />
      <wsdl:output message="tns:UnSubscribeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <wsdl:input message="tns:ReSubscribeHttpPostIn" />
      <wsdl:output message="tns:ReSubscribeHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <wsdl:input message="tns:GetPartnerUserProfilesListHttpPostIn" />
      <wsdl:output message="tns:GetPartnerUserProfilesListHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <wsdl:input message="tns:GetSurveysHttpPostIn" />
      <wsdl:output message="tns:GetSurveysHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <wsdl:input message="tns:GetSurveysHistoryHttpPostIn" />
      <wsdl:output message="tns:GetSurveysHistoryHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <wsdl:input message="tns:UpdateProfileHttpPostIn" />
      <wsdl:output message="tns:UpdateProfileHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="v2Soap" type="tns:v2Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap:operation soapAction="http://tempuri.org/UnSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <soap:operation soapAction="http://tempuri.org/ReSubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <soap:operation soapAction="http://tempuri.org/GetPartnerUserProfilesList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <soap:operation soapAction="http://tempuri.org/GetSurveys" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <soap:operation soapAction="http://tempuri.org/GetSurveysHistory" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap:operation soapAction="http://tempuri.org/UpdateProfile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="v2Soap12" type="tns:v2Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Create">
      <soap12:operation soapAction="http://tempuri.org/Create" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <soap12:operation soapAction="http://tempuri.org/Update" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <soap12:operation soapAction="http://tempuri.org/UnSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <soap12:operation soapAction="http://tempuri.org/ReSubscribe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <soap12:operation soapAction="http://tempuri.org/GetPartnerUserProfilesList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <soap12:operation soapAction="http://tempuri.org/GetSurveys" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <soap12:operation soapAction="http://tempuri.org/GetSurveysHistory" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <soap12:operation soapAction="http://tempuri.org/UpdateProfile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="v2HttpGet" type="tns:v2HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="Create">
      <http:operation location="/Create" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <http:operation location="/Update" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <http:operation location="/UnSubscribe" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <http:operation location="/ReSubscribe" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <http:operation location="/GetPartnerUserProfilesList" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <http:operation location="/GetSurveys" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <http:operation location="/GetSurveysHistory" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <http:operation location="/UpdateProfile" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="v2HttpPost" type="tns:v2HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="Create">
      <http:operation location="/Create" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Update">
      <http:operation location="/Update" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UnSubscribe">
      <http:operation location="/UnSubscribe" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReSubscribe">
      <http:operation location="/ReSubscribe" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPartnerUserProfilesList">
      <http:operation location="/GetPartnerUserProfilesList" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveys">
      <http:operation location="/GetSurveys" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSurveysHistory">
      <http:operation location="/GetSurveysHistory" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateProfile">
      <http:operation location="/UpdateProfile" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="v2">
    <wsdl:port name="v2Soap" binding="tns:v2Soap">
      <soap:address location="http://localhost:56095/v2.asmx" />
    </wsdl:port>
    <wsdl:port name="v2Soap12" binding="tns:v2Soap12">
      <soap12:address location="http://localhost:56095/v2.asmx" />
    </wsdl:port>
    <wsdl:port name="v2HttpGet" binding="tns:v2HttpGet">
      <http:address location="http://localhost:56095/v2.asmx" />
    </wsdl:port>
    <wsdl:port name="v2HttpPost" binding="tns:v2HttpPost">
      <http:address location="http://localhost:56095/v2.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>